<mat-card>
    <mat-card-header>
      <mat-card-title>Cálculo de Matrícula</mat-card-title>      
    </mat-card-header>
    <mat-card-content>
        <div class="form">
            <mat-form-field >
                <mat-label>Cantidad de Cursos</mat-label>
                <input matInput type="number" #txtcursos>            
            </mat-form-field> 
            <br>  
        </div>

</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="costoTotal(txtcursos)" >Calcular</button>    
    </mat-card-actions>
  </mat-card>
  <div *ngIf="costoFinal !== 0">
    <h2>El costo Total de la Matrícula es: {{ costoFinal | currency:'S/. ' }}</h2>
  </div>

  <br>