<form (ngSubmit)="calcularUtilidad()">
    <div>
      <label for="salario">Salario Mensual:</label>
      <select id="salario" [(ngModel)]="salario" name="salario" required>
        <option *ngFor="let salario of salarios" [value]="salario">{{ salario | currency: 'PEN' }}</option>
      </select>
    </div>
    <div>
      <label for="tiempo">Años Trabajando:</label>
      <select id="tiempo" [(ngModel)]="tiempo" name="tiempo" required>
        <option *ngFor="let tiempo of tiempos" [value]="tiempo">{{ tiempo }}</option>
      </select>
    </div>
    <button type="submit">Calcular Utilidad</button>
  </form>
  <div *ngIf="utilidad !== undefined">
    <h2>La utilidad es: {{ utilidad | currency: 'PEN' }}</h2>
  </div>
</div>