<mat-card>
    <mat-card-header>
      <mat-card-title>Cálculo de Utilidades</mat-card-title>      
    </mat-card-header>
    <mat-card-content>
        <div class="form">
            <mat-form-field >
                <mat-label>Ingrese su Salario Mensual</mat-label>
                <input matInput type="text" #txtsalario>            
            </mat-form-field> 
            <br>           
            <mat-form-field>
                <mat-label >Ingrese los años de servicio</mat-label>
                <input matInput type="number" #txttiempo>            
            </mat-form-field>
        </div>

</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="calcularSalario(txtsalario,txttiempo)" >Calcular</button>    
    </mat-card-actions>
  </mat-card>
  <div *ngIf="utilidad !== 0">
    <h2>La utilidad es: {{ utilidad | currency:'S/. ' }}</h2>
  </div>

  <br>